@use '../../../Assets/Vars.scss' as c;

.active {
  color: purple;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
  position: sticky;
  top: 0;
  ul {
    display: flex;
    li {
      list-style: none;
      a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 0 1em;
        &:not(.active) {
            &:hover {
                color: red;
            }
        }
      }
    }
  }
  .menu {
    display: none;
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5em;
    height: 2em;
    span {
      height: 0.3em;
      width: 100%;
      background-color: black;
      border-radius: 0.3em;
    }
  }
}

@media (max-width: 768px) {
  nav {
    .menu {
      display: flex;
    }
    flex-direction: column;
    align-items: flex-start;
    ul {
      display: none;
      flex-direction: column;
      width: 100%;
      li {
        text-align: center;
        a {
          padding: 1em 0;
        }
      }
    }
    ul.open {
      display: flex;
    }
  }
  .login-icon{
    margin: 0 auto;
    padding-top: 1em;
  }
}

