.container {
  display: grid;
  grid-template-columns: auto 50%;
  align-items: center;
  gap: 0 5em;
  margin: 5em;
  .logoBox{
    text-align: center;

    h2{
        font-size: 4.6ch;
        font-weight: 400;
    }
  }
}


//MEDIA QUERIES MOBILE
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; 
    gap: 2em;
    margin: 2em; 
  }
}

