body{
  background-image: linear-gradient(rgb(98, 188, 101, 20%), white);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
  gap: 5em 2em;
  margin-bottom: 5em;
  figure {
    transition: transform 0.5s ease-in-out;
    .trashImg {
      box-shadow: 0 0 15px -7px rgba(0, 0, 0, 1);
      border-radius: 20px 20px 0 0;
      width: 100%;
      display: block;
    }
    figcaption {
      box-shadow: 0 0 15px -7px rgba(0, 0, 0, 1);
      border-radius: 0 0 20px 20px;
      padding: 1em 0;
      h3 {
        text-align: center;
        color: white;
      }
    }
    &:hover {
        transform: scale(1.03);
      }
  }
}
a{
  text-decoration: none;
}
.wave{
  display: block;
  max-width: 100%;
}


//MEDIA QUERIES MOBILE
@media (max-width: 768px) {
  .gallery { 
    margin: 3em;
  }
}