@use "../../../../Assets/Vars.scss" as c;

body{
  background-image: linear-gradient(rgb(98, 188, 101, 20%), white);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
  gap: 5em 2em;
  margin-bottom: 5em;
  margin-top: 4em;
  figure {
    transition: transform 0.5s ease-in-out;
    .trashImg {
      box-shadow: 0 0 15px -7px rgba(0, 0, 0, 1);
      border-radius: 20px 20px 0 0;
      width: 100%;
      display: block;
    }
    figcaption {
      box-shadow: 0 0 15px -7px rgba(0, 0, 0, 1);
      border-radius: 0 0 20px 20px;
      padding: 1em 0;
      h3 {
        text-align: center;
        color: white;
      }
    }
    &:hover {
        transform: scale(1.03);
      }
  }
}
a{
  text-decoration: none;
}
.wave{
  display: block;
  max-width: 100%;
}


// SEARCH BAR STYLING
.container {
  margin-top: 4em;
  text-align: center;
  h1 {
    font-size: 2em;
    color: c.$green;
    font-weight: 400;
  }
  p {
    font-weight: 600;
    font-size: 1.3em;
    color: c.$blue;
    padding-top: 0.1em;
  }
  .searchBar{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    .searchBarIcon{
      position: relative;
      width: 40%;
      input{
        width: 100%;
        background: white;
        border: none;
        border-radius: 50px;
        height: 3.5em;
        padding: 1em 1.4em;
        outline: none;
      }
      .icon{
        position: absolute;
        top: 50%;
        right: 5%;
        cursor: pointer;
        background: none;
        transform: translateY(-50%);
        border: none;
      }
    }
  }
 
}




//MEDIA QUERIES MOBILE
@media (max-width: 768px) {
  .gallery { 
    margin: 3em;
  }
  .wave{
    display: none;
  }
}