@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// Fonts
$fontOpenSans: 'Open Sans';

// Colors
$grey: #D8EADB;
$blue: #114D46;
$green: #6DA830;
$lightgreen: #62BB65;
$bgcolor: #F4F7F7;
